.student-login {
  background-color: rgba(0, 77, 64, 0.7);
  width: 100vw;
  min-height: 100vh;
}
.student-login .header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
}
.student-login .header .title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}
.student-login .container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}
.student-login .container .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.student-login .container .user {
  font-size: 18px;
  font-weight: bold;
  user-select: none;
  width: 100%;
  text-align: center;
  color: #fff;
}
.student-login .container input {
  width: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1215686275);
  border-radius: 0.15rem;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.student-login .container input::placeholder {
  color: #ddd;
}
.student-login .container input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1803921569);
}
.student-login .container .btn {
  border-radius: 0.15rem;
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-align: center;
  color: #eee;
  font-weight: bold;
  min-width: 48%;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.student-login .container .btn .waiting {
  display: none;
}
.student-login .container .btn.waiting p {
  display: none;
}
.student-login .container .btn.waiting .waiting {
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.student-login .container .btn.waiting .waiting .dot {
  width: 16px;
  height: 16px;
  background-color: #eee;
  animation: 2s circle-shrink-grow linear infinite;
  border-radius: 50%;
}
.student-login .container .btn.waiting .waiting .dot:nth-child(2) {
  animation-delay: 0.75s;
}
.student-login .container .btn.waiting .waiting .dot:nth-child(3) {
  animation-delay: 1.5s;
}
.student-login .container .btn:hover {
  background-color: rgba(255, 255, 255, 0.0666666667);
}
.student-login .container .btn:active {
  background-color: rgba(255, 255, 255, 0.1803921569);
}
.student-login .container .error {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #f44336;
  user-select: none;
  display: none;
}
.student-login .login-data {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: #eee;
  font-weight: bold;
}
