.print-certificate {
  background-color: #999;
  padding: 10px 0;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.print-certificate .certificate {
  width: 650px;
  min-height: 920px;
  position: relative;
  user-select: none;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 50px;
}
.print-certificate .certificate .container {
  width: 90%;
  margin: 10px auto;
}
.print-certificate .certificate .container .head {
  display: grid;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  border-bottom: 1px solid #272727;
  font-weight: bold;
  grid-template-columns: auto 1fr 1fr auto;
}
.print-certificate .certificate .container .head > *:nth-child(2) {
  text-align: right;
}
.print-certificate .certificate .container .head > *:nth-child(3) {
  text-align: left;
}
.print-certificate .certificate .container .head .icon {
  width: 75px;
  height: 75px;
}
.print-certificate .certificate .container .body {
  margin-top: 20px;
}
.print-certificate .certificate .container .body .student-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #272727;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-evenly;
}
.print-certificate .certificate .container .body .student-info > * {
  min-width: 50%;
  text-align: center;
}
.print-certificate .certificate .container .body .degrees-table {
  margin-top: 20px;
  border: 1px solid #aaa;
}
.print-certificate .certificate .container .body .degrees-table > * {
  display: grid;
  align-items: center;
}
.print-certificate .certificate .container .body .degrees-table .details {
  grid-template-columns: auto 1fr;
}
.print-certificate .certificate .container .body .degrees-table .final {
  text-align: center;
  grid-template-columns: 40% 60%;
}
.print-certificate .certificate .container .body .degrees-table .column {
  padding: 10px;
  font-size: 16px;
}
.print-certificate .certificate .container .body .degrees-table .column.title {
  background-color: #272727;
  color: #fff;
  user-select: none;
  font-weight: bold;
}
.print-certificate
  .certificate
  .container
  .body
  .degrees-table
  .column:not(.title):nth-child(odd) {
  border-inline-end: 1px solid #aaa;
}
.print-certificate
  .certificate
  .container
  .body
  .degrees-table
  .column:not(.title) {
  border-bottom: 1px solid #aaa;
}
.print-certificate
  .certificate
  .container
  .body
  .degrees-table
  .column:nth-child(odd) {
  font-weight: bold;
}
.print-certificate
  .certificate
  .container
  .body
  .degrees-table
  .column:nth-child(even) {
  text-align: center;
}
.print-certificate .certificate .container .body .degrees-table .final .column {
  border-bottom: 0;
}
.print-certificate .certificate .container .body .statistics {
  display: flex;
  align-items: center;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}
.print-certificate .certificate .container .body .statistics > .box {
  min-width: 30%;
  box-shadow: 0 0 2px #aaa;
}
.print-certificate .certificate .container .body .statistics > .box .title {
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #272727;
}
.print-certificate .certificate .container .body .statistics > .box .row {
  display: grid;
  font-size: 14px;
  align-items: center;
  color: #272727;
  padding: 5px;
  column-gap: 10px;
  font-weight: bold;
}
.print-certificate
  .certificate
  .container
  .body
  .statistics
  > .box
  .row.with-columns {
  font-weight: 100;
  grid-template-columns: 1fr auto;
}
.print-certificate
  .certificate
  .container
  .body
  .statistics
  > .box
  .row.with-columns
  .column:first-child {
  height: 100%;
  background-color: #ccc;
  border-radius: 0.15rem;
}
.print-certificate
  .certificate
  .container
  .body
  .statistics
  > .box
  .row.with-columns
  .column:first-child
  .progress {
  width: var(--width, 50%);
  height: 100%;
  transform-origin: right;
  animation: 1s width-increasing linear;
  background-color: var(--background, #272727);
}
.print-certificate .certificate .warning {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
